<section class="section">

  <div class="row">
    <div class="col s12  center">
      <div *ngIf="isUpdating || !billboards" class="preloader-wrapper big active center">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="billboards" class="row">
      <em *ngIf="isLogged" class="left"> <i class="material-icons small color-fi-text" >star_border</i>Para suscribirte/desuscribirte clickea en la estrella de la cartelera.</em>
      <button class="btn btn--color-fi waves-effect waves-light right" (click)="update()"><i class="material-icons right">sync</i> Actualizar</button>
    </div>

    <div *ngFor="let billboard of billboards" class="col s12 m6">
      <div class="card horizontal hoverable">
        <div class="card-stacked">
          <div class="card-content">
              <p class="star-button" *ngIf="isLogged && isSuscribed(billboard)" (click)="unsuscribe(billboard)">
                  <i class="right material-icons small color-fi-text star-button ">grade</i></p>
                <p class="star-button" *ngIf="isLogged && !isSuscribed(billboard)" (click)="suscribe(billboard)">
                  <i class="right material-icons small color-fi-text star-button ">star_border</i></p>
            <h5>{{billboard.title}}</h5>
            <p>{{billboard.description}}</p>
          </div>
          <div class="card-action card-action--color-fi-text">
            <a *ngIf="isLogged" routerLink="/carteleras/{{billboard.id}}" href="#">Entrar a cartelera</a>
            <a *ngIf="!isLogged" routerLink="/auth/login" href="#">Entrar a cartelera</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ul class="pagination pagination--color-fi center hide">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  <br><br>
</section>
