<div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          <h1 class="header center orange-text">Carteleras virtuales</h1>
          <div class="row center">
            <h5 class="header col s12 light">En este sitio encontraras toda la informacion de la Facultad de Informatica</h5>
          </div>
          <br><br>
        </div>
</div>

<section class="section">
    <div class="row">
                    <div *ngFor="let billboard of billboards" class="col s12 m5">
                            <div class="card horizontal">
                              <div class="card-image">
                                <img>
                              </div>
                              <div class="card-stacked">
                                    <div class="card-content">
                                        <h5><i class="right material-icons small orange-text text-accent-2">grade</i>
                                       {{billboard.title}}</h5>
                                    <p>{{billboard.description}}</p>
                                    </div>
                                <div class="card-action">
                                  <a *ngIf="isLogged" routerLink="billboard/{{billboard.id}}" href="#">Entrar a cartelera</a>
                                  <a *ngIf="!isLogged" routerLink="auth/login" href="#">Entrar a cartelera</a>
                                </div>
                              </div>
                            </div>
                    </div>

        <div *ngIf="!billboards"><h3>Sin carteleras disponibles :(</h3></div>
    </div>

    <br><br>
</section>



 