<div class="container">
    <div class="row">
      <div class="col sm12 m6 offset-m3">
        <button class="waves-effect waves-light btn btn--color-fi mt5" (click)="goBack()">Volver</button>
        <div *ngIf="users && users.length">
            <h5>Usuarios que estan suscriptos a esta cartelera: </h5>
            <ul class="collection" >
              <li class="collection-item" *ngFor="let user of users">  <i class="material-icons left color-fi-text">account_circle</i><strong>{{user.username}}</strong>: {{user.name}} {{user.lastName}} </li>
            </ul>
      </div>   

      <div *ngIf="!(users && users.length)">
            <h5> Todavia no hay suscriptores para esta cartelera</h5>
        </div>         
    </div>
</div>

</div>
