<div class="container">
    <div *ngIf="users && users.length" class="row">
      <h5>Suscriptores de la cartelera: </h5>
      <div class="col sm12 m4">
          <ul class="collection" >
              <li class="collection-item" *ngFor="let user of users">  <i class="material-icons left color-fi-text">account_circle</i><strong>{{user.username}}</strong>: {{user.name}} {{user.lastName}} </li>
            </ul>
      </div>                
    </div>

    <div *ngIf="!(users && users.length)" class="row">
        <h5> Aun no hay usuarios suscriptos a esta cartelera :( </h5>
    </div>
</div>
