<div class="container content-fill">
    <div *ngIf="billboardSelected" class="row">
      <!--El titulo de la cartelera -->
  
      <div class="col s12">
        <h1 class="header center ">{{billboardSelected.title }}</h1>
        <h5 class="light center">{{ billboardSelected.description }}</h5>
      </div>
  
      <div class="col s12 m8">
        <!-- Las publicaciones de la cartelera -->
        <billboard-publication-list></billboard-publication-list>
      </div>
  
      <div class="col s12 m4">
        <ul class="collection with-header">
          <div *ngIf="billboardSelected && billboardSelected.allowEdit">
            <li class="collection-header"><h5>Acciones</h5></li>
            <li class="collection-item"><a routerLink="agregar-publicacion">Agregar publicacion</a></li>
            <li class="collection-item"><a routerLink="suscriptores">Ver suscriptores</a></li>
            <li class="collection-item"><a routerLink="administrar_permisos">Administrar Permisos</a></li>
          </div>
          <li class="collection-header"><h5>Favoritos</h5></li>
          <li class="collection-item" *ngFor="let billboard of billboardsSuscribed">Alvin</li>
        </ul>
      </div>
    </div>
  
  </div>
  
  <!--
  <div class="card mini-publicacion mt-3">
      <div class="card-body">
        <h5 class="card-title">{{publication.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{publication.publishDate  | date:'medium' }}</h6>
        <em *ngIf="publication.description" class="card-text">{{publication.description}}</em>
        <em *ngIf="!publication.description" class="card-text text-muted">Publicacion sin descripcion.</em>
        <p *ngIf="publication.content" class="card-text">{{publication.content}}</p>
        <p *ngIf="!publication.content" class="card-text text-muted">Publicacion sin contenido.</p>
        <button routerLink="publication/{{publication.id}}" type="button" class="btn btn-outline-primary mr-1">Ver <span
          class="badge badge-info"> {{publication.countComments}} <i class="far fa-comments"></i></span></button>
        <button *ngIf="publication.canEdit" type="button" class="btn btn-outline-primary">Editar</button>
      </div>
    </div>
  -->
  
  <!-- Botones de administracion para una cartelera -->
  <!--
  <div *ngIf="billboardSelected">
    <div class="col-sm-12 cartelera mb-5">
      <div class="row mb-3">
        <div class="col-sm-12 d-flex justify-content-between">
          <h2><i class="fas fa-bell"></i></h2>
        </div>
        <div class="col-sm-12">
          <button type="button" class="btn btn-outline-warning m-1">Administrar permisos</button>
          <button class="btn btn-outline-success m-1" data-toggle="modal" data-target="#agregarPublicacion">Agregar
            publicacion
          </button>
          <button type="button" class="btn btn-outline-primary m-1" data-toggle="modal" data-target="#listaSuscriptores">Ver suscriptores <span
            class="badge badge-info">{{usersSuscribed.length}}</span></button>
        </div>
      </div>
    </div>
  
  
    <div *ngIf="!publications">Aun no hay publicaciones para esta cartelera.</div>
  -->
  
  <!-- Modal lista de suscriptores
  <div class="modal fade" id="listaSuscriptores" tabindex="-1" role="dialog" aria-labelledby="listaSuscriptores"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Usuarios suscriptos a esta cartelera</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table *ngIf="usersSuscribed && usersSuscribed.length" class="table">
            <thead>
              <tr>
                <th scope="col">Nombre y apellido</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersSuscribed">
                <td>{{ user.name }} {{ user.lastName }}</td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="!(usersSuscribed && usersSuscribed.length)"> Aun no hay usuarios suscriptos a esta cartelera.</p>
  
       </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
  </div>
  </div>
  </div>
  -->
  