<div class="container content-fill">
  <div class="row">

    <div class="col s12 m8">

      <!-- Las publicaciones de la cartelera -->
      <div class="col s12">
        <div class="card horizontal hoverable">
          <div class="card-image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ currentPublication.title }}</span>
              <em class="card-text grey-text text-lighten-1">{{ currentPublication.description }}</em>
              <p>{{currentPublication.content}}</p>
              <span class="grey-text text-lighten-1 right">{{currentPublication.publishDate  | date:'medium' }}</span>
            </div>
            <div class="card-action card-action--color-fi-text">
              <button *ngIf="currentPublication.allowEdit"  type="button" class="btn btn-outline-primary m-1" data-toggle="modal" data-target="#editarPublicacion">
                Editar
              </button>
              <button *ngIf="currentPublication.allowComments" type="button" class="btn btn-outline-primary m-1" data-toggle="modal" data-target="#agregarComentario">
                Comentar
              </button>
              <button *ngIf="currentPublication.allowEdit" type="button" class="btn btn-outline-danger m-1">Eliminar</button>
              <a> </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <ul class="collection with-header">
        <li class="collection-header"><h5>Acciones</h5></li>
        <li class="collection-item">Agregar publicacion</li>
        <li class="collection-item">Ver suscriptores</li>
        <li class="collection-item">Administrar Permisos</li>

        <li class="collection-header"><h5>Favoritos</h5></li>
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
      </ul>
    </div>
  </div>

</div>



<div class="col-sm-12 cartelera mb-5 content-fill">


  <!-- comentarios de la publicacion -->
  <div *ngIf="currentPublicationComments && currentPublicationComments.length" class="offset-md-3 col-md-9 comentarios mt-5 mb-5">
    <h5><i class="far fa-comments"></i> Comentarios:</h5>
    <div *ngFor="let comment of currentPublicationComments">
      <!-- comentario -->
      <div class="comentario-wrapper mt-2">
        <div class="card comentario">
          <div class="card-body">
            <p class="card-text">{{ comment.text }}</p>
            <div class="text-right m-0">
              <p class="card-text">{{ comment.user.name }} {{comment.user.lastName }}</p>
              <h6 class="card-subtitle mb-2 text-muted">{{ comment.creationDate | date:'medium'  }}</h6>
            </div>
            <div>
              <button type="button" class="btn btn-sm btn-outline-secondary m-1">Responder</button>
              <button type="button" class="btn btn-sm  btn-outline-danger m-1">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Respuestas a comentario-->
      <div *ngFor="let answer of comment.answers">
        <div class="offset-sm-3 respuesta-wrapper mt-1">
          <div class="card respuesta">
            <div class="card-body">
              <p class="card-text">{{ answer.answer }}</p>
              <div class="text-right m-0">
                <p class="card-text">{{ comment.user.name }} {{comment.user.lastName }}</p>
                <h6 class="card-subtitle mb-2 text-muted">{{ comment.creationDate | date:'medium'  }}</h6>
              </div>
              <div>
                <button type="button" class="btn btn-sm  btn-outline-danger">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Respuestas a comentario-->
    </div>
  </div><!--Fin de comentario -->


</div> <!------ END CARTELERA ----->


<!-- Modal para editar la publicacion -->
<div class="modal fade" id="editarPublicacion" tabindex="-1" role="dialog" aria-labelledby="editarPublicacion"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar publicacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Titulo</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Detalle</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Publicar en fecha</label>
          <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
          <small id="emailHelp" class="form-text text-muted">Ingrese una fecha para que se publique esta publicacion
          </small>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Habilitar comentarios
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="agregarComentario" tabindex="-1" role="dialog" aria-labelledby="agregarComentario"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comentar publicacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="comentarioText">Escribe un comentario</label>
          <textarea class="form-control" id="comentarioText" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
