
<div class="container">
    <div class="row ">
          <form class="col s6 m4 mt5" #billboardAddForm="ngForm" (ngSubmit)="onSubmit(billboardAddForm)">
              <h4>Nueva cartelera </h4>
                <div class="row">
                  <label for="title">Titulo de la cartelera</label>
                  <div class="input-field col s12">
                    <textarea id="title" class="materialize-textarea validate" [(ngModel)]="newBillboard.title"  name="title" required>
                    </textarea>
                  </div>
                </div>

                <div class="row">
                    <label for="description">Descripcion de la publicacion</label>
                  <div class="input-field col s12">
                    <textarea id="description" class="materialize-textarea validate" [(ngModel)]="newBillboard.description" name="description" required>
                    </textarea>
                  </div>
                </div>
              
                <button type="submit" class="waves-effect waves-light btn btn--color-fi mr4" [disabled]="!billboardAddForm.form.valid">Guardar</button>    
                <button type="reset" class="waves-effect waves-light btn btn--color-fi" (click)="goBack()">Cancelar</button>
              </form>

        <div class="col s12 m6 offset-m1 deep-orange lighten-5 mt5">
        <h5>Aca podes ver como quedara el acceso a la nueva cartelera.</h5>

          <div class="card horizontal hoverable">
              <div class="card-image">
                <img>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h5>
                    <span class="star-button" (click)="unsuscribe(billboard)"><i
                      class="right material-icons small color-fi-text star-button tooltipped" data-position="bottom"
                      data-tooltip="Quitar suscripcion.">grade</i></span>
                    {{newBillboard.title}}</h5>
                  <p>{{newBillboard.description}}</p>
                </div>
                <div class="card-action card-action--color-fi-text">
                  <a>Entrar a cartelera</a>
                </div>
              </div>
            </div>
  </div>
  </div>

    </div>