    <!-- Dropdown Structure -->
    <ul id="dropdownUser" class="dropdown-content ">
        <li><a routerLink="user/profile" class="color-fi-text"><i class="material-icons left icon-dropdown">settings</i>Configuración</a></li>
        <li class="divider"></li>
        <li><a routerLink="auth/logout" class="color-fi-text"><i class="material-icons left icon-dropdown">close</i> Cerrar sesion</a></li>
    </ul>
<nav class="color-fi" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" routerLink="/carteleras" class="brand-logo">Carteleras</a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="!isLogged"><a routerLink="auth/login" routerLinkActive="active" >Iniciar sesion</a></li>
        <li *ngIf="isLogged && isAdmin"><a routerLink="carteleras/nueva" routerLinkActive="active" >Nueva cartelera</a></li>
        <li *ngIf="isLogged"><a class="dropdown-trigger" data-target="dropdownUser"><i class="material-icons left">account_circle</i>{{username}}<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a routerLink="/carteleras" routerLinkActive="active" >Carteleras</a></li>
        <li *ngIf="!isLogged"><a routerLink="auth/login" routerLinkActive="active" >Iniciar sesion</a></li>
        <div *ngIf="isLogged">
            <li ><a ><i class="material-icons left">account_circle</i>{{username}}</a></li>
            <li><a routerLink="auth/logout" class="color-fi-text"><i class="material-icons left icon-dropdown">close</i> Cerrar sesion</a></li>
            <li *ngIf="isAdmin"><a routerLink="carteleras/nueva" routerLinkActive="active" >Nueva cartelera</a></li>
        </div>

      </ul>
      <a data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<!-- End navbar -->
    <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet  #o="outlet" ></router-outlet>
    </main>