

<div class="container-fluid" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-3">
                <p>Mis carteleras</p>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">TTPS - JAVA 2018</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Novedades</a>
                    </li>
                </ul>
                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <span class="d-flex justify-content-between">
                    <a href="#" class="nav-link"><h4>Novededes</h4></a>
                    <button class="btn btn-outline-dark"><i class="fas fa-bell"></i></button>
                </span>
                <p>Descripcion de la cartelera - Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco.</p>
                <br>
                <span class="d-flex justify-content-between">
                    <a href="#" class="nav-link"><h4>Ofertas laborales</h4></a>
                    <button class="btn btn-outline-dark"><i class="fas fa-bell"></i></button>
                </span>
                <p>Descripcion de la cartelera - Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco.</p>
                <br>
                <span class="d-flex justify-content-between">
                    <a href="cartelera1.html" class="nav-link"><h4>TTPS - JAVA -2018</h4></a>
                    <button class="btn btn-outline-dark"><i class="fas fa-bell"></i></button>
                </span>
                <p>Descripcion de la cartelera - Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco.</p>
    
            </div>
        </div>
    </div>




