
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a routerLink="" routerLinkActive="active" class="navbar-brand">Carteleras</a>
    
    <ul class="navbar-nav ml-auto">
        <a *ngIf="!isLogged" class="nav-link" routerLink="auth/login" routerLinkActive="active" ><i class="fas fa-sign-in-alt"></i> Iniciar sesion</a>
        <li *ngIf="isLogged" class="nav-item dropdown hidden-md-down show">
            <a class="nav-link dropdown-toggle active" href="#!user" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fas fa-user"></i> root
            </a>
            <div class="dropdown-menu dropdown-menu-right show" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="user/profile">
                <i class="fas fa-cogs"></i> Configuración
                </a>

                <div class="dropdown-divider"></div>
                <a routerLink="auth/logout"  class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i> Cerrar sesion
                </a>

            </div>
        </li>
    </ul>
</nav>

<div class="container mt-5">   
        <div class="row">
            <div class="col-sm-3 mr-2 ">
                <div *ngIf="isLogged" class="border border-primary p-3">
                        <h5>Mis carteleras</h5>
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">TTPS - JAVA 2018</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Novedades</a>
                            </li>
                        </ul>
                </div>
                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>




