<div *ngIf="billboardSelected">
  <!-- Botones de administracion para una cartelera -->
  <div class="col-sm-12 cartelera mb-5">
    <div class="row mb-3">
      <div class="col-sm-12 d-flex justify-content-between">
        <h2><span class="text-muted">Carterlera:</span> {{billboardSelected.title}}</h2>
        <h2><i class="fas fa-bell"></i></h2>
      </div>
      <div class="col-sm-12">
        <button type="button" class="btn btn-outline-warning m-1">Administrar permisos</button>
        <button class="btn btn-outline-success m-1" data-toggle="modal" data-target="#agregarPublicacion">Agregar
          publicacion
        </button>
        <button type="button" class="btn btn-outline-primary m-1">Ver suscriptores <span
          class="badge badge-info">85 </span></button>
      </div>
    </div>
  </div>

  <!-- Las publicaciones de la cartelera -->
  <div *ngFor="let publication of publications">
    <div class="card mini-publicacion mt-3">
      <div class="card-body">
        <h5 class="card-title">{{publication.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{publication.creationDate  | date:'medium' }}</h6>
        <p class="card-text">{{publication.description}}</p>
        <p class="card-text">{{publication.content}}</p>
        <button routerLink="publication/{{publication.id}}" type="button" class="btn btn-outline-primary mr-1">Ver <span
          class="badge badge-info"> {{publication.countComments}} <i class="far fa-comments"></i></span></button>
        <button *ngIf="publication.canEdit" type="button" class="btn btn-outline-primary">Editar</button>
      </div>
    </div>
  </div>
  <div *ngIf="!publications">Aun no hay publicaciones para esta cartelera.</div>


  <!-- Modal para agregar una publicacion-->
  <div class="modal fade" id="agregarPublicacion" tabindex="-1" role="dialog" aria-labelledby="agregarPublicacion"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar publicacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Titulo</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Detalle</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Publicar en fecha</label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
            <small id="emailHelp" class="form-text text-muted">Ingrese una fecha para que se publique esta publicacion
            </small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Habilitar comentarios
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
