<div *ngIf="billboardSelected">
  <!-- Botones de administracion para una cartelera -->
  <div class="col-sm-12 cartelera mb-5">
    <div class="row mb-3">
      <div class="col-sm-12 d-flex justify-content-between">
        <h2><span class="text-muted">Carterlera:</span> {{billboardSelected.title}}</h2>
        <h2><i class="fas fa-bell"></i></h2>
      </div>
      <div class="col-sm-12">
        <button type="button" class="btn btn-outline-warning m-1">Administrar permisos</button>
        <button class="btn btn-outline-success m-1" data-toggle="modal" data-target="#agregarPublicacion">Agregar
          publicacion
        </button>
        <button type="button" class="btn btn-outline-primary m-1" data-toggle="modal" data-target="#listaSuscriptores">Ver suscriptores <span
          class="badge badge-info">85 </span></button>
      </div>
    </div>
  </div>

  <!-- Las publicaciones de la cartelera -->
  <div *ngFor="let publication of publications">
    <div class="card mini-publicacion mt-3">
      <div class="card-body">
        <h5 class="card-title">{{publication.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{publication.publishDate  | date:'medium' }}</h6>
        <em *ngIf="publication.description" class="card-text">{{publication.description}}</em>
        <em *ngIf="!publication.description" class="card-text text-muted">Publicacion sin descripcion.</em>
        <p *ngIf="publication.content" class="card-text">{{publication.content}}</p>
        <p *ngIf="!publication.content" class="card-text text-muted">Publicacion sin contenido.</p>
        <button routerLink="publication/{{publication.id}}" type="button" class="btn btn-outline-primary mr-1">Ver <span
          class="badge badge-info"> {{publication.countComments}} <i class="far fa-comments"></i></span></button>
        <button *ngIf="publication.canEdit" type="button" class="btn btn-outline-primary">Editar</button>
      </div>
    </div>
  </div>
  <div *ngIf="!publications">Aun no hay publicaciones para esta cartelera.</div>


  <!-- Modal para agregar una publicacion-->
  <div class="modal fade" id="agregarPublicacion" tabindex="-1" role="dialog" aria-labelledby="agregarPublicacion"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar publicacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #publicationForm="ngForm" (ngSubmit)="onSubmit(publicationForm)">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Titulo</label>
              <textarea [(ngModel)]="newPublication.title" class="form-control" id="exampleFormControlTextarea1"
                        rows="1" name="title" required></textarea>
            </div>
            <div class="form-group">
              <label for="descrForm">Detalle</label>
              <textarea [(ngModel)]="newPublication.description" class="form-control" id="descrForm"
                        rows="2" name="description" required></textarea>
            </div>
            <div class="form-group">
              <label for="descrForm">Contenido</label>
              <textarea [(ngModel)]="newPublication.content" class="form-control" id="descrForm"
                        rows="3" name="content" required></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Publicar en fecha</label>
              <input [(ngModel)]="newPublication.publishDate" type="datetime-local" class="form-control" id="exampleInputEmail1"
                     aria-describedby="emailHelp" name="publishDate" placeholder="" required>
              <small id="emailHelp" class="form-text text-muted">Ingrese una fecha de publicacion
              </small>
            </div>
            <div class="form-check">
              <input [(ngModel)]="newPublication.allowComments" name="allowComments" class="form-check-input" type="checkbox" value=""
                     id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Habilitar comentarios
              </label>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="btn  btn-primary" [disabled]="!publicationForm.form.valid">Guardar</button>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal lista de suscriptores-->
  <div class="modal fade" id="listaSuscriptores" tabindex="-1" role="dialog" aria-labelledby="listaSuscriptores"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Usuarios suscriptos a esta cartelera</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Usuarios</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of billboardSelected.suscribedUsers">
                <td>{{ user.name }} {{ user.lastName }}</td>
              </tr>
            </tbody>
       </table>
       </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
  </div>
</div>