<div class="container">
        <div class="row ">
        <form class="col s12 m5 offset-m3 mt5" >
          <h3>Cambiar contraseña</h3>

                <div class="row">
                    <div class="input-field col s12">
                            <input id="old_password" required type="password" class="validate">
                            <label for="old_password" >Contraseña actual</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                            <input id="new_password" required type="password" class="validate">
                            <label for="new_password">Contraseña nueva</label>
                    </div>
                </div>

                <div class="row">
                        <div class="input-field col s12">
                            <input id="new_password_r" required  type="password" class="validate">
                            <label for="new_password_r">Repita Contraseña nueva</label>
                        </div>
                </div>

                <button type="submit" class="waves-effect waves-light btn btn--color-fi mr4" >Guardar</button>    

      </form>
  </div>
</div>