<form  #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        {{diagnostic}}
        <div class="form-group">
         <label for="username">Usuario</label>
         <input type="text" class="form-control" id="username"
         required
         [(ngModel)]="model.username" name="username">
        </div>
        <div class="form-group">
         <label for="password">Contraseña</label>
         <input type="text" class="form-control" id="password"
         [(ngModel)]="model.password" name="password">
        </div>
        
        <button type="submit" class="btn btn-success"
        >Submit</button>
</form>