/* You can add global styles to this file, and also import other style files */
router-outlet ~ *
  position: absolute
  height: 100%
  width: 100%

.content-fill
  min-height: calc(100vh - 640px)

.card .card-action--color-fi-text a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating)
  color: #a30a16

.card .card-action--color-fi-text a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover
  color: #c90313

.pagination--color-fi li.active
  background-color: #a30a16

.btn--color-fi
  background-color: #a30a16

.btn--color-fi:hover, .btn--color-fi:focus
  background-color: #a30a16

.color-fi-text
  color: #a30a16

.mr2
  margin-right: 2px

.mr4
  margin-right: 4px

.mt5
  margin-top: 5px